.close {
  position: absolute;
  width: 20px !important;
  right: 10px;
  top: 10px;
}

.jumlah-tiket {
  margin-top: 5px !important;
}
.nama-pembeli {
  margin-top: 2px !important;
}
.edit:hover {
  cursor: pointer;
}
